* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-style: normal;
}

.wrapper {
	height: 90vh;
	overflow: none;
}

.web-header {
	width: 100%;
	height: 10px;
	background: linear-gradient(
		270deg,
		#ce2457 20.26%,
		#ff9b54 52.69%,
		#720026 88.12%
	);
}

.main-text {
	margin-top: 150px;
	font-family: "Open Sans";
	color: #ce2457;
	font-weight: 400;
	font-size: 78px;
	width: 890px;
	line-height: 88.9%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.bold {
	font-weight: 700;
}

.text-logo {
	margin: 35px 0 0 35px;
}

.gradient-container {
	position: fixed;
	bottom: 0px;
	background: linear-gradient(
		180deg,
		rgba(217, 217, 217, 0) 0%,
		rgba(245, 201, 169, 0.54) 75.83%
	);
	height: 190px;
	width: 100%;
	z-index: -50;
}

.get-start-button {
	background: linear-gradient(180deg, #ce2457 0%, #ff9b54 98.23%);
	box-shadow: 2.6735px 2.6735px 4.01024px rgba(79, 0, 11, 0.25);
	border-radius: 8.93155px;
	width: 220px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 70px;
}

.get-start-but-text {
	font-family: "Nunito";
	color: #ffffff;
	font-weight: 800;
	font-size: 17px;
	line-height: 110.89%;
	letter-spacing: 0.055em;
}

.get-started-button-content {
	height: 18.85px;
}

.landing-card {
	background: #ffffff;
	box-shadow: 0px 6.72489px 9.52693px rgba(79, 0, 11, 0.25);
	border-radius: 13.4498px;
	width: 385px;
	height: 250px;
}

.cards {
	display: flex;
	gap: 20px;
	z-index: 100;
	margin: 0 auto;
	width: 1192px;
}

.blob1 {
	position: absolute;
	top: 500px;
	overflow: none;
	z-index: -100;
}

.blob2 {
	position: absolute;
	top: -94px;
	right: 0;
	z-index: -100;
}

.get-started-button-content {
	display: flex;
	gap: 5px;
}

.landing-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.card-text {
	font-weight: 400;
	font-family: "Nunito";
	font-size: 24;
	color: #ce2457;
	width: 200px;
}

.card-image {
	margin-top: 25px;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 100px;
	padding-bottom: 15px;
	background: rgba(255, 255, 255, 0.01);
	box-shadow: 2px 2px 3px rgba(79, 0, 11, 0.25);
}

.user {
	display: flex;
}

.dropdown {
	height: 10px;
}

.profile-pic {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.homepage-content {
	margin-left: 230px;
	margin-right: 230px;
	margin-top: 40px;
}

.enjoy {
	color: #ce2457;
	font-family: "Nunito";
	font-weight: 500;
	font-size: 25px;
	line-height: 34px;
}

.home-top-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.add-event {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 17px;
	gap: 10px;
	font-family: "Nunito";
}

.username {
	font-family: "Nunito";
	font-weight: 300;
}

.event-card {
	font-family: "Nunito";
	width: 500px;
	height: 275px;
	background: #ffffff;
	border: 1px solid #d1d1d1;
	box-shadow: 0px 4px 4px rgba(79, 0, 11, 0.25);
	border-radius: 13px;
}

.card-top {
	height: 130px;
	width: 500px;
	background: rgba(255, 136, 136, 0.92);
	border-radius: 13px 13px 0px 0px;
	display: flex;
	justify-content: space-between;
}

.card-titles {
	color: white;
	margin-left: 20px;
	padding-top: 55px;
}

.event-members {
	font-size: 14px;
}

.event-title {
	font-weight: 700;
	font-size: 22px;
}

.event-logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 15px;
	margin-right: 45px;
}

.event-decription {
	margin: 25px 30px;
	width: 443px;
}

.events {
	margin-top: 35px;
}

.icon-upload {
	height: 145px;
	width: 145px;
	background: #e9e9e9;
	box-shadow: 2px 2px 3px rgba(79, 0, 11, 0.25);
}

.dropdown-menu {
	position: absolute;
}

.dropdownMenu {
	background-color: #FF9042;
	width: 145px;
	height: 100px;
}