/* -------------------------
----- GLOBAL STYLES -------- 
------------------------- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-style: normal;
	font-family: "Nunito";
}

.wrapper {
	height: 90vh;
	overflow: none;
}

.web-header {
	width: 100%;
	height: 10px;
	background: linear-gradient(
		270deg,
		#ce2457 20.26%,
		#ff9b54 52.69%,
		#720026 88.12%
	);
}

.main-text {
	margin-top: 150px;
	font-family: "Open Sans";
	color: #ce2457;
	font-weight: 400;
	font-size: 78px;
	width: 890px;
	line-height: 88.9%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.bold {
	font-weight: 700;
}

.text-logo {
	margin: 35px 0 0 35px;
}

.gradient-container {
	position: fixed;
	bottom: 0px;
	background: linear-gradient(
		180deg,
		rgba(217, 217, 217, 0) 0%,
		rgba(245, 201, 169, 0.54) 75.83%
	);
	height: 190px;
	width: 100%;
	z-index: -50;
}

/* -------------------------
----- LANDING PAGE --------- 
------------------------- */
.get-start-button {
	background: linear-gradient(180deg, #ce2457 0%, #ff9b54 98.23%);
	box-shadow: 2.6735px 2.6735px 4.01024px rgba(79, 0, 11, 0.25);
	border-radius: 8.93155px;
	width: 220px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 70px;
}

.get-start-but-text {
	font-family: "Nunito";
	color: #ffffff;
	font-weight: 800;
	font-size: 17px;
	line-height: 110.89%;
	letter-spacing: 0.055em;
}

.get-started-button-content {
	height: 18.85px;
}

.landing-card {
	background: #ffffff;
	box-shadow: 0px 6.72489px 9.52693px rgba(79, 0, 11, 0.25);
	border-radius: 13.4498px;
	width: 385px;
	height: 250px;
	display: block;
    flex-direction: column;
	justify-content: center;
    align-items: center;
	color: #720026;
}

.cards {
	display: flex;
	gap: 20px;
	z-index: 100;
	margin: 0 auto;
	width: 1192px;
}

.blob1 {
	position: absolute;
	top: 500px;
	overflow: none;
	z-index: -100;
}

.blob2 {
	position: absolute;
	top: -94px;
	right: 0;
	z-index: -100;
}

.get-started-button-content {
	display: flex;
	gap: 5px;
}

.landing-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.card-text {
	font-weight: 400;
	font-family: "Nunito";
	font-size: 24;
	color: #ce2457;
	width: 200px;
}

.card-image{
    margin-top: 25px;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 50px 15px;
	background: rgba(255, 255, 255, 0.01);
	box-shadow: 2px 2px 3px rgba(79, 0, 11, 0.25);
}

.grouper-logo {
	margin-left: 8em;
}

.user {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-right: -13em;
}

.dropdown {
	height: 10px;
}

.profile-pic {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.homepage-content {
	margin-left: 230px;
	margin-right: 230px;
	margin-top: 40px;
}

.enjoy {
	color: #ce2457;
	font-family: "Nunito";
	font-weight: 500;
	font-size: 25px;
	line-height: 34px;
}

.home-top-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.add-event {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 17px;
	gap: 10px;
	font-family: "Nunito";
}

.add-event-text {
	margin: 0;
}

.username {
	font-family: "Nunito";
	font-weight: 300;
	margin: auto 0.8em;
	cursor: pointer;
}

.event-card {
	font-family: "Nunito";
	width: 500px;
	height: 275px;
	background: #ffffff;
	border: 1px solid #d1d1d1;
	box-shadow: 0px 4px 4px rgba(79, 0, 11, 0.25);
	border-radius: 13px;
}

.card-top {
	height: 130px;
	width: 500px;
	border-radius: 13px 13px 0px 0px;
	display: flex;
	justify-content: space-between;
}

.card-titles {
	color: white;
	margin-left: 30px;
	padding-top: 55px;
}

.event-members {
	font-size: 14px;
}

.event-title {
	font-weight: 700;
	font-size: 22px;
}

.event-logo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-top: 15px;
	margin-right: 45px;
}

.event-description {
	margin: 25px 30px;
	width: 443px;
}

.events {
	margin-top: 35px;
}

.icon-upload {
	height: 145px;
	width: 145px;
	background: #e9e9e9;
	box-shadow: 2px 2px 3px rgba(79, 0, 11, 0.25);
}

/* ------------------------
------ CREATE EVENT -------
------------------------ */
.red {
	color: #CE2457;
}

.cre-event-container {
	display: grid;
	grid-template-columns: 250px auto 481px;
	grid-template-rows: 81px auto 182px;
	grid-template-areas: 
		"lmargin tmargin banner"
		"lmargin main banner"
		"lmargin bmargin banner";
}

.event-form-content {
	grid-area: main;
}

.back-button {
	display: flex;
	align-items: center;
}

.back-button p {
	margin-right: 0.25em;
	font-weight: 500;
}

.event-form-content h1{
	font-size: 82px;
}

.cre-event-deets {
	display: grid;
	grid-template-columns: 400px auto 145px;
	/* 580px wide 315px tall */
	grid-template-rows: 60px auto 125px;
	grid-template-areas: 
		"eventname space picture"
		"maxmembers space picture"
		"eventdesc eventdesc eventdesc";
	margin-right: 150px;
}

.input-event-name {
	grid-area: eventname;
}

.form-header {
	margin-bottom: 0.5em;
	font-size: 16px;
	font-weight: 500;
}

.chosen-event-name {
	width: 401px;
	height: 35px;
	background: #E9E9E9;
	border:none;
    box-shadow: 2px 2px 3px rgb(79 0 11 / 25%);
    border-radius: 5px;
	padding: 0.25em 1em;
}

.team-max-member-input {
	grid-area: maxmembers;
	display: flex;
	margin-top: 1.4em; 
}

.team-max-member-input p {
	margin-right: 2em;
}

.max-members {
	width: 51.92px;
    height: 28px;
	border: none;
    background: #E9E9E9;
    box-shadow: 2px 2px 3px rgb(79 0 11 / 25%);
    border-radius: 5px;
}

.icon-upload {
	grid-area: picture;
}

.event-description-box {
	grid-area: eventdesc;
}

.event-description-box textarea {
	width: 100%;
    height: 120px;
	border: none;
    background: #E9E9E9;
    box-shadow: 2px 2px 3px rgb(79 0 11 / 25%);
    border-radius: 5px;
}

.select-background-color {
	margin-top: 50px;
	display: flex;
}

.select-background-color h4 {
	margin-right: 2em;
	font-size: 16px;
	font-weight: 500;
}

.start-end-date {
	display: grid;
	grid-template-columns: 208px auto auto 251px;
	grid-template-rows: 40px;
	grid-template-areas: 
		"datetag startdate enddate autogroup";
	margin: 20px 0 50px;
}

.datetag {
	grid-area: datetag;
	font-size: 16px;
	font-weight: 500;
}

.start-date {
	grid-area: startdate;
}

.start-date input,
.end-date input {
	background: #E9E9E9;
	border: none;
    box-shadow: 2px 2px 3px rgb(79 0 11 / 25%);
    border-radius: 5px;
	padding: 0.5em 0.5em 0.5em 0.8em;
	margin-top: 0.25em;
}

.end-date {
	grid-area: enddate;
}

.auto-group {
	display: flex;
	grid-area: autogroup;
	font-size: 0.8em;
	align-items: center;
}

.auto-group input {
	margin-right: 0.8em;
}

.side-bnr-img {
	grid-area: banner;
    z-index: -100;
}

.submit-event-button {
	background: linear-gradient(180deg, #ce2457 0%, #ff9b54 98.23%);
	box-shadow: 2.6735px 2.6735px 4.01024px rgba(79, 0, 11, 0.25);
	border-radius: 20px;
	width: 190px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 70px;
	color: #fff;
}

.submit-event-button p {
	margin: auto 0.8em;
}

.dropdown-menuu {
	position: relative;
	display: inline-block;
}

.dropdownMenu {
	position: absolute;
	top: 50px;
	right: 120px;
	background-color: #FF9042;
	color: white;
	width: 165px;
	height: 100px;
	border-radius: 10px;
	text-align: center;
	margin-right: 60px;
	box-shadow: 2px 2px 3px rgba(79, 0, 11, 0.25);
}

.dropdownMenu p {
	margin-top: 1em;
}

.carousel .carousel-indicators button {
	background-color: #CE2457;
}

.carousel .carousel-caption {
	color: #CE2457;
	line-height: 1.2em;
	font-size: 1.1em;
	padding: 0.5em;
}

.dropdown-item:hover {
	color:#CE2457;
	cursor: pointer;
}

.hack-content {
	display: flex;
	width: 100%;
	justify-content: center;
}

.back-button {
	position: absolute;
	left: 150px;
	top: 150px;
}

.hack-blocks {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}

.second-column-groupie {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

img {
	cursor: pointer;
}

.events {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 25px 25px;
}

.events-logo {
	width: 6.125em;
	height: 6.125em;
	margin: 18px 38px 18px auto;
}

.icon-random {
	height: 151px;
	width: 151px;
}

.event-card {
	cursor: pointer;
}

.matcheschat-content {
	display: grid;
	grid-template-columns: 250px 1fr 1fr 250px;
	grid-template-rows: 53px auto 120px;
	grid-template-areas: 
		"lmargin tmargin tmargin rmargin"
		"lmargin leftbody rightbody rmargin"
		"lmargin bmargin bmargin rmargin";
}

.matched-deets-summary {
	grid-area: leftbody;
	margin-top: 30px;
}

.matched-deets-summary .matched-caption {
	font-size: 24px;
	line-height: 10px;
}

.matched-deets-summary .matched-name {
	font-size: 48px;
	font-weight: 600;
	line-height: 53px;
	margin-bottom: 15px;
}

.matched-deets-summary .matched-profile-pic {
	width: 20.31em;
	height: 20.31em;
}

.more-matches-btn {
	display: flex;
	text-transform: uppercase;
	font-weight: 600;
	align-items: center;
	margin-top: 183px;
}

.more-matches-btn p {
	margin: 0 0.25em 0 0;
}

.chat-area {
	grid-area: rightbody;
	width: 578px;
	height: 688px;
	background: #000000;
	box-shadow: 2px 2px 3px rgba(79, 0, 11, 0.25);
	border-radius: 20px;
	color: #fff;
}

.chat-bg {
	width: 100%;
	height: 100%;
	background: linear-gradient(153.58deg, rgba(255, 155, 84, 0.6) 0.67%, rgba(206, 36, 87, 0.6) 40.76%, rgba(255, 155, 84, 0.6) 73.11%, rgba(206, 36, 87, 0.6) 111.58%);
	box-shadow: 2px 2px 3px rgba(79, 0, 11, 0.25);
	border-radius: 20px;
}

.other-chat-member {
	margin-left: 42px;
}

.other-chat-member .chat-cta {
	padding-top: 37px;
	margin-bottom: 0;
}

.other-chat-member .matched-name-chat {
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;
	text-shadow: 2px 2px 3px rgba(79, 0, 11, 0.25);
}

.other-chat-member .matched-person-chat .profile-pic {
	width: 3.125em;
	height: 3.125em;
	margin-right: 1em;
}

.user-chat-box {
	margin-left: 42px;
	position: absolute;
	bottom: 120px;
}

.user-chat-box .mssg-box {
	width: 500px;
	height: 120px;
	background: #FFFFFF;
	box-shadow: 2px 2px 3px rgba(79, 0, 11, 0.25);
	border-radius: 20px;
	padding-left: 1em;
	border: none;
}

.user-chat-box .submit-message {
	background: linear-gradient(180deg, #ce2457 0%, #ff9b54 98.23%);
	box-shadow: 2.6735px 2.6735px 4.01024px rgba(79, 0, 11, 0.25);
	border-radius: 20px;
	width: 100px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	color: #fff;
	position: relative;
	bottom: 55px;
    right: -382px;
}

.user-chat-box .submit-message p {
	margin: auto 0.8em;
}

.swipe-container {
	display: flex;
	justify-content: center;
}

.arrows { 
	height: 1px;
}

.yes-no-buttons {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}